.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-size: cover;
  background-image: url("../../img/mainBackground.jpg");
}

.App-main {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 60px; 
  height: calc(100vh - 120px); 
}


.main-content {
  flex: 1;
  background-color: #282c34ea;
  border-radius: 0.8rem;
  padding: 20px;
  color: white;
  text-align: left;
  overflow-y: auto;
  height: 75vh;
  margin-right: 8rem;
  margin-left: rem;
  margin-top: -3rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
} 