.App {
  min-height: 100vh;
  background-color: #36393f;
  color: white;
}

.App-main {
  display: flex;
  min-height: calc(100vh - 100px);
  padding: 20px;
  gap: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code {
  color: #61dafb;
  padding: 2px 4px;
  background-color: #20232a;
  border-radius: 4px;
}

