.header {
  background-color: #202225;
  padding: 1rem;
  color: white;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #61dafb;
}

.App-header {
  background-color: #282c34ea;
  padding: 1rem;
  color: white;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  width: 100%;
  max-width: 2200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.header-main {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.header-user {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}

.home-button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 1.5rem;
}

.home-button:hover {
  background-color: #4fa8d1;
}

.user-name {
  font-size: 16px;
  color: white;
  font-weight: 500;
  text-align: right;
}

code {
  color: #61dafb;
  padding: 2px 4px;
  background-color: #20232a;
  border-radius: 4px;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.login-button,
.register-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}

.login-button {
  color: white;
  background: none;
  border: 1px solid white;
}

.login-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.register-button {
  color: #282c34;
  background: #61dafb;
  border: none;
}

.register-button:hover {
  background: #4fa8d1;
}

.header-logo {
  height: 2.5rem;
  width: auto;
  margin-right: 0.3rem;
} 